.fa-dot-circle-o:before {
  content: "\f0e0";
  -webkit-animation: mymove 0.5s infinite;
  animation: mymove 1.5s infinite;
}
@font-face {
  font-family: "jazeera";
  src: url(https://www.fontstatic.com/fonts/jazeera/jazeera.eot?#iefix);
  src: local(Ø§Ù„Ø¬Ø²ÙŠØ±Ø©), local(jazeera),
    url(https://www.fontstatic.com/fonts/jazeera/jazeera.woff) format("woff");
}
@font-face {
  font-family: "jazeera-light";
  src: url(https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.eot?#iefix);
  src: local("Ø§Ù„Ø¬Ø²ÙŠØ±Ø© Ø®ÙÙŠÙ"), local(jazeera-light),
    url(https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.woff)
      format("woff");
}
.tcat a:link,
.tcat_alink {
  color: #fff;
  text-decoration: none;
  font-family: "jazeera", FontAwesome;
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  color: #f0f2f400;
}
.fa-save:before.fa-remove:before,
.fa-close:before,
.fa-times:before {
  display: none;
}
a.btn.minix.fa.fa-times.fr {
  color: #fff !important;
  border-radius: 4px;
  padding: 1px 4px 2px 5px;
  margin-top: 6px;
  background-repeat: repeat-x;
  border-color: #fff !important;
  background-image: linear-gradient(
    to bottom,
    #f8f9fa 0,
    #dee2e6 100%
  ) !important;
  margin-left: 1px;
  width: 13px;
  margin-right: 2px;
}
span.minix.badge.border,
span.bwall.minix.badge.border,
span.brooms.minix.badge.border {
  display: none !important;
}
span.busers.minix.badge.border {
  display: inline !important;
}
span.bwall.minix.badge.border,
span.brooms.minix.badge.border {
  display: none !important;
}
ul.nav.nav-tabs.fl li a:hover {
  background-color: #1aa3ba;
  color: #fff;
}
ul.nav.nav-tabs.fl li .fa-user-plus:before {
  color: red;
  content: "\f097";
  -webkit-animation: mymove 0.5s infinite;
  animation: mymove 0.5s infinite;
}
@-webkit-keyframes mymove {
  from {
    color: red;
  }
  to {
    color: #fff;
  }
}
@keyframes mymove {
  from {
    color: red;
  }
  to {
    color: #fff;
  }
}
a#Ø¹Ø§ØµÙ… {
  color: #fff !important;
  position: absolute;
  right: 1px;
}
.fl.fa.fa-sign-in.btn.btn-primary.dots.roomh.border.corner {
  background-color: #039be5 !important;
  padding: 1px 4px !important;
  pointer-events: none;
}
.ae.label.label-primary.fa.fa-gear {
  padding: 7px 5px 5px 13px;
  border-radius: 0;
  margin-left: -3px !important;
}
.ae.fa.label.fa-commenting-o.label-primary {
  padding: 7px 5px 5px 13px;
  margin-left: -4px !important;
  border-radius: 0;
}
.ae.fa.label.label-primary.fa-users {
  padding: 7px 5px 5px 13px;
  border-radius: 0;
  margin-left: -3px !important;
}
.fa-commenting-o:before {
  content: "\f044";
}
.ae.fa.chats.label.fa-comment.label-primary {
  padding: 7px 13px 5px;
  margin-left: -7px !important;
  border-radius: 0;
}
.ae.fa.label.fa-commenting-o.label-warning {
  padding: 7px 0 5px 9px;
  margin-left: -4px !important;
  border-radius: 0;
}
.ae.fa.chats.label.fa-comment.label-warning {
  padding: 7px 13px 5px;
  margin-left: -7px !important;
  border-radius: 0;
}
.bgg.border.corner {
  border-bottom-right-radius: 0 !important;
}
label.fl.nosel.label.pnhead {
  background-color: #1391a7;
}
iframe#kaz30 {
  height: 66px;
  float: left;
  border-bottom: 3px solid #e5032f;
  background-color: #fff;
  margin-top: -6px;
  background-image: url(https://blog.iraqna.net/embed/11.svg);
  background-size: contain;
}
div#kaz1 {
  text-align: center;
  border-radius: 0 0 7px 7px;
  width: 100%;
  position: absolute;
  top: 173px;
  right: 0;
}
a#kaz2 {
  font-size: 14px !important;
  width: 25% !important;
  border: 1px solid #f0ad4e;
  margin-right: 5px;
  float: right;
  margin-top: -2px;
  padding: 1px !important;
  height: 24px !important;
  color: #fff !important;
  background-color: #43a2a1 !important;
  margin-left: -8px;
}
a#kaz10 {
  font-size: 14px !important;
  width: 25% !important;
  border: 1px solid #f0ad4e;
  margin-right: 5px;
  float: right;
  margin-top: -3px;
  padding: 1px !important;
  height: 23px !important;
  color: #fff !important;
  background-color: #43a2a1 !important;
  margin-left: -8px;
}
.badge {
  display: inline !important;
  background-color: #7770;
  border-radius: 33%;
  border: #1f95a208 solid 1px !important;
  margin-left: -5px;
  vertical-align: top;
}
div#menu-l {
  height: 55px;
  width: 307px;
  float: left;
  position: absolute;
  top: -11px;
  right: -7px;
}
.ae {
  border: 1px solid #afabab;
}
.primaryborder {
  border-color: #008e91 !important;
  border-radius: 0 !important;
}
button.fa.fa-sign-out.fl.btn.btn-primary {
  margin-top: 0 !important;
}
span.corner.fa.fa-user.label.label-primary.fr.uc {
  display: inline !important;
}
button.fa.fa-send.fl.btn.btn-primary {
  margin-top: 0 !important;
}
button.fa.fa-send.sndpm.fl.btn.btn-primary {
  margin-top: 0 !important;
}
.btn-primary:hover {
  border-left: 1px solid #5290ac;
  border-top: 1px solid #5290ac;
  border-right: 1px solid #376b87;
  border-bottom: 1px solid #376b87;
}
.fr.rating-box {
  display: none;
}
.fa-user-times {
  margin: 0 !important;
  background-color: #fff;
  top: 58px !important;
  transform: rotate(-90deg);
  width: 123px !important;
  position: absolute;
  left: -41px;
}
.btn.hand.borderg.corner {
  width: 32px;
  height: 33px;
}
.ukick {
  margin: 0 !important;
  width: 60px !important;
  background-color: #fff !important;
  margin-top: 14px !important;
  margin-left: -60px !important;
  position: absolute;
  top: 1px;
}
img.fr {
  width: 30px !important;
  height: 30px !important;
}
.uban {
  margin: 0 !important;
  width: 60px !important;
  background-color: #fff;
  margin-top: 73px !important;
  margin-left: -61px !important;
  position: absolute;
  top: 1px;
}
.emoi {
  width: auto;
  max-width: -webkit-fill-available;
}
.uzr.fl.corner.borderg.hmsg.mm {
  background-color: #f0fffb !important;
}
.bgg.border.corner {
  right: 1px;
}
img.fl.emobc {
  margin-top: -3px !important;
}
.callnot {
  position: absolute !important;
  top: 1px !important;
  margin-left: 0 !important;
  left: 1px;
}
.popover.right {
  max-width: initial;
  overflow: auto;
  width: auto;
  margin-left: -109px;
  height: 369px;
}
.popover.fade.top.in {
  position: absolute;
  max-width: 250px !important;
  max-height: 200px;
  overflow: auto;
}
button.fa.fa-phone.call.fl.btn.btn-success {
  margin-top: 2px !important;
}
.tablebox.footer.light.fl {
  border-top: 1px solid #aee3d1;
}
img.fl.nosel.emobox {
  margin-top: -4px;
}
img.fl.nosel.emo {
  margin-top: -1px;
}
.ae,
button.btn {
  border-radius: 3px;
  border: #e8e8e8 solid 1px;
}
a.fl.emobc:focus,
i.fa.fa-smile-o:focus,
.primaryborder:focus,
.btn.btn-success:focus,
.btn.btn-primary:focus,
.dots:focus,
.bg:focus,
textarea.fl.filw.corner.tbox:focus,
area:focus,
input#pass1:focus,
input#u1:focus,
input#u3:focus,
input#pass2:focus,
input#u2:focus {
  outline: 0;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#kaz30 {
  background-image: linear-gradient(to bottom, #f1f3f4 0, #f1f3f4 100%);
  text-align: center;
  color: #118284;
  margin: -27px 0 -20px;
}
div#kaz31 {
  width: 100%;
  background-color: #13b6b9 !important;
  border-radius: 3px;
  border-left: 1px solid #5290ac;
  border-top: 1px solid #5290ac;
  border-right: 1px solid #376b87;
  border-bottom: 1px solid #376b87;
  margin: 1px 0 3px;
  height: 27px;
  padding: 0;
}
div#tlogins img.fitimg.fl.u-pic,
.u-ico,
img#kaz70 {
  pointer-events: none;
}
a#as0 {
  text-decoration: none;
  margin-right: 6px;
  float: right;
  border-radius: 3px;
  border-color: #e6e6fa;
  padding: 6px;
  margin-top: 2px;
  color: red;
  width: 106px;
  text-align: center;
  font: normal normal normal 14px/1 FontAwesome;
}
iframe#kaz29 {
  height: 68px;
  position: absolute;
  top: 27px;
  right: -14px;
}
a#kaz33 {
  width: 100px;
  background-color: #13b6b9 !important;
  border-radius: 3px;
  border-left: 1px solid #5290ac;
  border-top: 1px solid #5290ac;
  border-right: 1px solid #376b87;
  border-bottom: 1px solid #376b87;
  margin: 0 0 2px;
  text-align: center;
  color: #fff;
  height: 27px;
  padding: 1px;
  font-size: 14px !important;
}
input[type="kaz"] {
  width: 182px;
  margin-left: 1px;
  border-radius: 3px;
  text-align: center;
}
button.btn.btn-primary.hand.borderg.corner.fa.fa-ban {
  width: 77px;
  border-radius: 6px;
  height: 27px;
  background-repeat: repeat-x;
  border-color: #b92c28;
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
  background-color: #c12e2a !important;
}
.fa-user:before {
  margin-right: 4px;
}
a.btn.minix.fa.fa-comment.fr {
  color: #fff !important;
  border-radius: 4px;
  padding: 1px 4px 2px 5px;
  margin-top: 6px;
  background-repeat: repeat-x;
  border-color: #28a4c9;
  background-image: linear-gradient(to bottom, #5bc0de 0, #2aabd2 100%);
}
a.btn.minix.fa.fa-thumbs-up.fr {
  color: #fff !important;
  border-radius: 4px;
  padding: 1px 4px 2px 5px;
  margin-top: 6px;
  background-repeat: repeat-x;
  border-color: #b92c28;
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
  margin-left: 3px;
}
a.btn.minix.fa.fa-times.fr,
a.btn.minix.fa.fa-thumbs-up.fr,
a.btn.minix.fa.fa-comment.fr {
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-right: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  border-radius: 3px;
}
.fa-save:before,
.fa-floppy-o:before {
  margin-right: 1px;
  margin-right: 1px;
}
.fa-save {
  border-radius: 3px !important;
  height: 28px !important;
  width: 12% !important;
  padding: 7px 2px !important;
  font-size: 12px !important;
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
  background-color: #d9534f !important;
  color: #fff;
}
textarea.form-control {
  border-radius: 3px !important;
  height: 28px !important;
  width: 72% !important;
  padding: 4px 0 !important;
  font-size: 13px !important;
}
div#tlogins.light {
  height: auto !important;
}
body.bg.center-block.bg.dad div#tlogins {
  height: auto !important;
}
a.label.label-primary.fl {
  display: none;
}
#kaz13 {
  margin-bottom: 0;
  border-radius: 7px;
  border-bottom: 1px solid #fe75bc;
  border-top: 1px solid #fe75bc;
  font-size: 15px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 80%;
  height: 25px;
  left: 74px;
  background: #ffe8f400;
  top: 148px;
}
label.label.fr.label-primary {
  border-radius: 3px !important;
  height: 28px !important;
  width: 14% !important;
  padding: 9px 0 !important;
  font-size: 13px !important;
}
#kaz21 {
  text-decoration: dotted;
  color: #fff;
  margin-top: 1.7px !important;
  margin-left: 2px !important;
  display: inline-block;
  float: right;
  margin-right: 1.5px !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 -3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px 14px 7px 14px !important;
  border: #4cff7000;
}
select.primaryborder.form-control.userRoom.selbox.fr.form-control {
  border-radius: 3px !important;
  height: 28px !important;
  width: 72% !important;
  padding: 4px 0 !important;
  font-size: 13px !important;
}
div#tlogins .fa-user:before {
  margin-left: 1px;
  border: 1px solid #1aa3ba00;
}
label.fl.label.loginstat {
  float: left !important;
  border-radius: 0 7px 7px 0 !important;
  position: absolute;
  top: 1px;
  left: 0;
  padding: 3px 6px 2px 8px !important;
  margin-top: 6px !important;
  font-size: 14px !important;
  margin-left: -4px !important;
}
img.fl.fitimg.hand.u-pic {
  border-radius: 5px !important;
  margin-top: 4px !important;
  margin-right: 4px !important;
  padding: 18px;
  border: 1px solid#f3f3f3;
  background-size: cover;
}
.border {
  border: #e8e8e8 solid 1px;
}
a#kaz19 {
  position: absolute;
  top: 40px;
  right: 16px;
  display: block;
  background: url(https://blog.iraqna.net/IQ/33.svg);
  height: 43px;
  width: 44px;
  background-size: cover;
  background-color: #008e9100 !important;
  border-color: #24558000 !important;
  box-shadow: none !important;
}
.u-ico {
  margin-top: 5px !important;
}
span.corner.u-topic.dots {
  margin-top: 3px !important;
}
.uzr.fl.corner.borderg.mm {
  border-left: 2px solid #56a2ab;
  margin-left: 0 !important;
  border-radius: 0 !important;
  width: 100% !important;
  border-top: 0.7px solid #eee !important;
  border-bottom: 0.7px solid #eee !important;
  margin-bottom: 0 !important;
  line-height: 26px;
}
label.label.label-primary.mini.fl {
  pointer-events: none;
  width: 32% !important;
  height: 20px;
  color: #fff;
  border: none !important;
  margin: 0;
  border-left: 2px solid #f7d322 !important;
  padding: 1px 15px 0 0;
  border-radius: 0 0 0 1px !important;
  border-bottom: 1px solid #f7d322 !important;
  font-family: "jazeera", FontAwesome;
  font-size: 11px !important;
}
.lonline.light.break {
  outline: #ffffff00 solid 1px !important;
  background-color: #1391a712 !important;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  ) !important;
}
div#tlogins {
  border-color: #26767f;
  outline: 0;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px #777;
  border: 0.1px solid#b0b2b370;
  background: #fff;
}
div#tlogins .hand.nosel.fl.uzr.border {
  width: 99% !important;
  margin-top: 5px !important;
  border-radius: 3px !important;
  border: 1px solid #1391a740;
}
body {
  background-image: url();
  background-size: contain;
  background-color: #f9f9f9 !important;
}
div#tlogins .fr.borderg {
  display: none;
}
span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
  font-size: 12px !important;
  background-color: #d01b1b00;
  color: #fff;
}
div#tlogins ::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
div#tlogins ::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
div#tlogins ::-webkit-scrollbar-thumb {
  background: #1aa3ba;
  border: 71px none #fff;
  border-radius: 31px;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  ) !important;
}
div#tlogins ::-webkit-scrollbar-thumb:hover {
  background: #1aa3ba;
}
div#tlogins ::-webkit-scrollbar-thumb:active {
  background: #1aa3ba;
}
div#tlogins ::-webkit-scrollbar-track {
  background: #fff;
  border: 65px none #fff;
  border-radius: 34px;
}
div#tlogins ::-webkit-scrollbar-track:hover {
  background: #fff;
}
div#tlogins ::-webkit-scrollbar-track:active {
  background: #fff;
}
div#tlogins img.fitimg.fl.u-pic {
  background-size: cover;
  border-radius: 3px !important;
  padding: 18px;
  border: 1px solid#e8e8e8;
  margin-top: -1px !important;
}
div#tlogins ::-webkit-scrollbar-corner {
  background: transparent;
}
div#tlogins .fl.mini.u-msg {
  display: inline !important;
  white-space: break-spaces !important;
  padding: 7px;
  text-align: center;
}
a#kaz27 {
  text-decoration: none;
  font-size: 8px !important;
  color: #75aeb4 !important;
  background: #fff0 !important;
  height: 12px;
  margin: 0 0 0 19px;
  line-height: 9px;
  position: absolute;
  top: 153px;
  width: 148px;
}
div#tlogins .fade {
  opacity: 1 !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  width: 65% !important;
  position: absolute;
  margin: 22px 0 0 147px;
  height: 110px;
}
button.btn.btn-default {
  color: #fff !important;
  border-radius: 15px;
  padding: 0 5px;
  margin-top: 6px;
  background-image: linear-gradient(
    to bottom,
    #5cb85c 0,
    #419641 100%
  ) !important;
  border: #ccc solid 1px !important;
}
textarea.as2020 {
  width: 100%;
  resize: none;
  height: 180px;
}
div#chats {
  background-image: url(https://blog.iraqna.net/IQ/01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.nav-tabs {
  border-bottom: 0 solid #f0ad4e !important;
}
ul.nav.nav-tabs > li > a {
  margin: 0 0 0 13px;
  color: #fff;
  border: 0;
  background-color: #1391a7;
  border-radius: 0;
  display: initial;
  width: 98%;
  float: left;
  padding: 2px 0 0 !important;
  text-align: center;
  border-style: solid;
  border-right: 5px solid;
  border-left: 5px solid;
  border-color: #fff;
  border-left-style: initial;
  height: 28px;
  border-right-style: ridge;
  font-family: "jazeera", FontAwesome;
}
.fr.co,
.fl.mini.u-co {
  display: none;
}
ul.nav.nav-tabs > li.active > a {
  color: #fff;
  background-color: #1391a7;
  border: 0;
  border-radius: 0;
  text-align: center;
  border-style: solid;
  border-right: 5px solid;
  border-left: 5px solid;
  border-color: #fff;
  border-left-style: inherit;
  border-right-style: ridge;
}
ul.nav.nav-tabs > li {
  width: 38%;
  margin: -1px 59px 6px -13px;
}
ul.nav.nav-tabs > li > .fa-user-plus:before,
ul.nav.nav-tabs > li > .fa-user:before,
ul.nav.nav-tabs > li > .fa-user:before {
  float: left;
  margin-left: 1px;
  border-radius: 0;
  width: 25px;
  text-align: center;
  background-color: #fff0;
  color: #fff;
  height: 31px;
  padding: 4px 0 0 !important;
  margin-top: -4px;
  border-right-style: double !important;
  border-right: 2px solid #fff !important;
}
.nav > li > a:focus,
.nav > li > a:hover {
  color: #9abff9;
}
input#u1,
input#u2,
input#pass1,
input#u3,
input#pass2 {
  margin: 0 0 5px -5.5px !important;
  width: 97%;
  height: 28px;
  border: 1px solid #94adc1;
  border-radius: 0;
  text-align: center;
  border-style: solid;
  border-right: 7px solid;
  border-left: 7px solid;
  border-color: #2ea1ad;
  border-left-style: double;
  border-right-style: double;
}
.checkbox {
  position: absolute;
  margin: 38px 0 0 -35px !important;
}
label.ae.fa.label.fa-users.btnClAlGr.label-warning {
  margin-left: -3px !important;
}
label.ae.fa.label.fa-users.btnClAlGr.label-warning,
label.ae.fa.label.fa-users.btnClAlGr.label-primary {
  padding: 7px 5px 5px 13px;
}
.fa-user-times:before {
  display: none;
}
label.addGruMsg.label.tc.border.btn.label-info.fl {
  background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
  color: #fff !important;
}
ul.nav.nav-tabs {
  float: right;
  padding: 10px 6px 2px 1px;
  border-radius: 0;
  margin-top: 20px;
  border-left: 2px solid #f7d322;
  border-right: 2px solid #f7d322;
  background-image: -webkit-linear-gradient(
    45deg,
    #f9f9f9 25%,
    #d8f7fb82 25%,
    #e5fcff 50%,
    #a7f2ff6e 50%,
    rgba(148, 233, 247, 0.11) 75%,
    #e6f7f9 75%,
    #f9f9f9
  ) !important;
  background: #ebebeb;
}
div#l1 {
  height: 84px;
}
a#kaz7 {
  font-size: 14px !important;
  width: 54px !important;
  border: 1px solid #f7d322;
  margin-right: 0;
  float: right;
  padding: 5px 0 0 20px;
  height: 25px !important;
  color: #fff !important;
  margin-left: -6px;
  border-radius: 0;
  background-repeat: repeat;
  border-bottom: 0 solid#e1e1e1;
}
font.kaz12 {
  border: 1px dotted#f0ad4e;
  background-color: #bd0000;
  padding: 1px 10px 3px 4px;
  color: #fff;
  border-radius: 1px;
  text-align: center;
  border-style: solid;
  border-right: 7px solid;
  border-left: 7px solid;
  border-color: #fcf8e3;
  border-left-style: double;
  border-right-style: double;
  font-family: "jazeera", FontAwesome;
  font-size: 13px !important;
}
font.kaz11 {
  background-color: #bf0600;
  padding: 1px 0 2px;
  color: #fff;
  border-radius: 1px;
  border: 1px dotted#ffffff;
  text-align: center;
  border-style: solid;
  border-right: 7px solid;
  border-left: 7px solid;
  border-color: #fcf8e3;
  border-left-style: double;
  border-right-style: double;
  font-family: "jazeera", FontAwesome;
  font-size: 13px !important;
}
span.fr,
.fa-ban:before,
.fa-ban:before,
.fa-search:before,
.fa-ban:before,
.fa-ban:before,
.fa-diamond:before,
.fa-comment:before,
.fa-envelope-o:before {
  display: none;
}
#as43 {
  width: 68%;
  height: 20px;
  color: #fff;
  border-left: 2px solid#8aeaec;
  background-color: #1391a7;
  border-right: 2px solid #f7d322;
  border-radius: 0 0 1px 0;
  border-bottom: 1px solid #f7d322;
  margin-bottom: -5px;
  font-family: "jazeera", FontAwesome;
  font-size: 13px !important;
  margin-right: -1px;
  padding: 2px 0 0;
  line-height: 14px;
}
div#tlogins button.btn.btn-primary {
  top: 74px;
  width: 43%;
  right: 83px;
  height: 28px;
  padding: 0 0 3px;
  border-radius: 7% !important;
  position: inherit;
  border-right: 4px dotted;
  border-left: 4px dotted;
  border-color: #fff0a8;
  border-style: dotted double;
  font-family: jazeera, FontAwesome;
}
label.kaz.ae.fa.label.label-primary {
  padding: 7px 10px 5px;
  margin-left: -4px !important;
  border-radius: 0 3px 3px 0;
  border-style: solid;
  border-right: 4px solid;
  border-right-style: ridge;
}
.ae.fa.label.label-primary.fa-user {
  padding: 7px 12px 5px 9px;
  border-radius: 3px 0 0 3px;
  border-style: solid;
  border-left: 4px solid;
  border-left-style: groove;
}
.tbox {
  padding: 3px;
  min-height: 28px !important;
  border-right: 5px solid;
  border-left: 5px solid;
  border-color: #d2d2d2;
  border-left-style: groove;
  border-right-style: ridge;
  border-radius: 3px !important;
}
@media only screen and (max-width: 399px) and (min-width: 200px) {
  input#u1,
  input#u2,
  input#pass1,
  input#u3,
  input#pass2 {
    width: 90%;
  }
  a#kaz7 {
    width: 50px !important;
  }
  ul.nav.nav-tabs {
    margin-top: 4px;
    border-top: 2px solid #f7d322;
  }
}
.ae.fa.label.label-primary.fa-users.btnClAlGr:before {
  content: "\f0c0";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-user:before {
  content: "\f02e";
}
.fa-group:before,
.fa-users:before {
  content: "\f19c";
}
.label.ae.fa.chats.label.fa-comment.label-warning:before {
  content: "\f0e0";
  display: inline !important;
}
.ae.fa.chats.label.label-primary.fa-comment:before {
  content: "\f0e0";
  display: inline !important;
}
.fa-gear:before,
.fa-cog:before {
  content: "\f085";
}
a.btn.minix.fa.fa-comment:before {
  content: "\f27a";
  display: inline !important;
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f122";
  padding: 0 2px 0 0;
}
.fa-share-alt:before {
  content: "\f0c5";
}
button.fr.fa.fa-share-alt.sndfile.fl.btn.btn-primary {
  width: 30px;
}
a#kaz7 {
  font-size: 14px !important;
  width: 54px !important;
  border: 1px solid #f7d322;
  margin-right: 0;
  float: right;
  padding: 3px 0 0 20px;
  height: 23px !important;
  color: #fff !important;
  margin-left: -6px;
  border-radius: 0;
  background-repeat: repeat;
  border-bottom: 0 solid#e1e1e1;
}
iframe#abod1 {
  float: left;
  width: 26px;
  margin-top: 1px;
  height: 26px;
  position: absolute;
  left: 65px;
}
a#abod2 {
  float: left;
  margin-top: 2px;
  position: absolute;
  left: 102px;
  background-color: #008e9100 !important;
  border-color: #00000000;
  box-shadow: none !important;
  color: #0a0504;
  font-size: 22px !important;
  padding: 0;
}
img#abod3 {
  padding: 1px 0 0;
  width: 83px;
  margin-top: 0;
  margin-left: -17px;
  margin-right: -8px;
}
